div {
    width: 1280px;
    margin: auto;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.menuitem {
    border: 2px;
    width: 140px;
    height: 30px;
    padding: 30px;
    text-align: center;
    font-family: Inconsolata;
    float: left;
}

.social {
  border: 2px;
  width: 50px;
  height: 50px;
  padding: 25px;
  float: right;
}

main {
  clear: both;
}

body {
  background: url("../Imagens/background.jpeg");
}

.aboutbackground {
  background: url("../Imagens/profileimage.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.portrait {
  padding: 30px;
  display: block;
  margin: 0 auto;
  width: 320px;
  height: auto;
  border: 10px;
  border-radius: 60%;
}

.portrait-text {
  text-align: center;
  font-size: 2em
}

p {
  position: relative;
  color: white;
  font-family: Inconsolata;
}

.profiletext {
  position: fixed;
  margin: 4em 10em 4em 45em;
  padding: 2em 2em 2em 2em;
  background-color: #152233;
  border-radius: 2em;
}

.profiletextname {
  font-size: 1.5em;
}

.skillstext {
  margin: 2em 25em 4em 25em;
  padding: 2em 2em 2em 2em;
  background-color: #152233;
  border-radius: 2em;
}

.projectimage {
  width: 300px;
  height: auto;
}

footer {
  bottom: 0.7em;
  position: absolute;
}

.copyright p {
    margin: 15px 5px;
}

.bold {
  font-weight: bold;
}
